*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: 'Press Start 2P', cursive;
}

section{
    display:flex;
    justify-content: space-around;
    align-items: center;
    min-height: 100vh;
    flex-direction:row;
    background-image:url('../imagenes/theforest.png');
}

section a:first-child
{
    position:absolute;
    top:30px;
    left:30px;
    padding:10px;
    display:flex;
    justify-content: center;
    align-items: center;
    display:block;
    width:400px;
    color:white;
    border:1px solid white;
    border-radius:20px;
    outline:none;
    text-decoration:none;
}
section a:first-child:hover
{
    transform:scale(1.1);
}


section a:first-child span
{
    font-size:2rem;
    animation:mover .7s linear infinite;
    position: relative;
    top:-5px;
}
@keyframes mover
{
    0%{
        right:0;
    }
    100%{
    left:20px
    }
}


section .buscar_plato
{
    padding:10px;
    position:relative;
}

section .buscar_plato form
{
    display:flex;
    justify-content:space-around;
    align-items: center;
}

section .buscar_plato form input
{
    padding:30px 10px;
    padding-right:65px;
    font-size:20px;
    font-weight: 900;
    background-color:transparent;
    color:white;
    border:none;
    border-bottom:2px solid white;
    outline:none;
}



section .buscar_plato form button 
{
    font-size:2.5rem;
    position:absolute;
    right:30px;
    background-color: transparent;
    outline:none;
    color:white;
    border:none;
    opacity:0.4;
    cursor:pointer;
    transition:0.2s ease-in;
}

section .buscar_plato form button:hover
{
    opacity:0.8;
}



section .resultado_busqueda
{
    position: relative;
    width: 550px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:30px;
    border:1px solid rgba(255,255,255,.4);
    border-radius:20px;
    box-shadow:5px 10px 20px rgba(255,255,255,.3),
    -5px -10px 20px rgba(255,255,255,.3);
}

section .resultado_busqueda h1
{
    text-align: center;
    font-size: 25px;
    color:rgba(255,255,255,.8);
    text-shadow: 4px 5px 7px #008E09;
}


section .resultado_busqueda .tarjeta
{
    display:none;
    position:relative;
    width:100%;
    top:30px;
} 

section .resultado_busqueda .tarjeta h2
{
    text-align: center;
    font-size: 30px;
    word-break: break-word;
    font-weight: 900;
    margin-bottom:40px;
    position:absolute;
    top:-90px;
    color:#edf2f4;
    text-shadow: 5px 8px 10px #480ca8,
    5px 8px 20px #480ca8;
}

section .resultado_busqueda .tarjeta form
{
    height:340px;
}

section .resultado_busqueda .tarjeta .camposPlato
{
    margin-bottom:25px;
    padding:10px;
}

section .resultado_busqueda .tarjeta
.camposPlato:nth-child(1)
{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

section .resultado_busqueda .tarjeta
.camposPlato label
{
color:rgba(255,255,255,.8);
}


section .resultado_busqueda .tarjeta
.camposPlato input
{
padding:10px;
color:white;
background-color: transparent;
outline:none;
border:1px solid white;
box-shadow:inset 5px 5px 4px rgba(255,255,255,.3),
inset -5px -5px 5px rgba(255,255,255,.3);
}

section .resultado_busqueda .tarjeta
.camposPlato p
{
    display:inline;
    padding:5px;
    color:rgba(255,255,255,.8);
}

section .resultado_busqueda .tarjeta
.camposPlato textarea
{
    margin-top: 10px;
    border-radius: 10px;
    padding: 5px;
    background-color:transparent;
    color:#eaeaea;
    border:1px solid white;
    box-shadow:inset 5px 5px 4px rgba(255,255,255,.3),
inset -5px -5px 5px rgba(255,255,255,.3);
outline:none;
}


section .resultado_busqueda .tarjeta
button
{
    position: absolute;
    padding: 10px;
    text-align: center;
    vertical-align: middle;
    border-radius: 15px;
    border:1px solid white;
    color:white;
    left: 15px;
    bottom:-40px;
    background-color:transparent;
    transition:0.2s ease-in;
    cursor:pointer;
}

section .resultado_busqueda .tarjeta
button:hover
{
    box-shadow: 0 0 8px rgb(39, 170, 45),
    0 0 10px rgb(39, 170, 45),
    0 0 12px rgb(39, 170, 45);
}


section .resultado_busqueda .tarjeta
a 
{
position:absolute;
padding:10px;
right:15px;
border:1px solid white;
border-radius:20px;
bottom:-45px;
right:50px;
color:white;
transition:0.2s ease-in;
text-decoration:none;
outline:none;
}

section .resultado_busqueda .tarjeta
a:hover 
{
    box-shadow: 0 0 8px rgb(194, 27, 12),
    0 0 10px rgb(194, 27, 12),
    0 0 12px rgb(194, 27, 12);
}
