*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: 'Press Start 2P', cursive;
}

section{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
    background-image: url('../imagenes/city.png');
}

section .caja_formulario
{
    position: relative;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    width:400px;
    height: 480px;
    border:1px solid black;
    
    background-color: rgba(0,0,0,.3);
    border-radius: 30px;
    box-shadow:0 0 15px rgba(0,0,0,.6),
    0 0 20px rgba(0,0,0,1),
    0 0 25px rgba(0,0,0,1);
}


section .caja_formulario::after
{
    content:'';
    position:absolute;
    pointer-events: none;
    top:5px;
    bottom:5px;
    left:10px;
    right:10px;
    border-radius:25px;
    background: linear-gradient(to bottom, rgba(255,255,255,.3) 0%,
    rgba(255,255,255,.1) 15%, transparent 50%, transparent 85%,
    rgba(255,255,255,.3) 100%);
    

}



section .caja_formulario .contenido_formulario
{
position: relative;
    width: 100%;
}


section .caja_formulario .contenido_formulario h2{
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 40px;
    letter-spacing: 3px;
    color:white;
}

section .caja_formulario 
.contenido_formulario 
.cajaInput
{
    position: relative;
margin-bottom: 10px;
width: 100%;
}

section .caja_formulario 
.contenido_formulario 
.cajaInput input
{
    padding:  25px;
    font-size:14px;
    padding-left:50px;
    width: 100%;
    border-radius: 15px;
    border: 1px solid rgba(255,255,255,.6);
    background: transparent;
    box-shadow: inset 5px 5px 5px rgba(255,255,255,.1),
    inset -5px -5px 5px rgba(255,255,255,.1);
    color:white;
    font-weight: 900;
    outline: none;
}

section .caja_formulario 
.contenido_formulario 
.cajaInput input:focus
{
box-shadow:0 0 5px white,
0 0 5px white;
}

section .caja_formulario 
.contenido_formulario 
.cajaInput svg
{
position: absolute;
width:40px;
height: 40px;
left:5px;
top:10px;
}




section .caja_formulario 
.contenido_formulario 
.cajaInput p{
    font-size: 12px;
    padding:5px;
    font-weight: 600;
    color:white;
}



section .caja_formulario 
.contenido_formulario 
.cajaInput textarea
{
    margin-top:10px;
    border-radius:15px;
    padding:5px;
    color:white;
    background-color:transparent;
    box-shadow: inset 5px 5px 5px rgba(255,255,255,.1),
    inset -5px -5px 5px rgba(255,255,255,.1);
    outline:none;
}

section .caja_formulario 
.contenido_formulario 
.cajaInput textarea:focus
{
    box-shadow: inset 2px 2px 2px rgba(255,255,255,1),
    inset -2px -2px 2px rgba(255,255,255,1),
    2px 2px 2px rgba(255,255,255,.4),
    -2px -2px 2px rgba(255,255,255,.4);
}



section .caja_formulario 
.contenido_formulario 
button
{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    color:white;
    width:100%;
    padding:10px;
    border:1px solid white;
    border-radius:15px;
    background-color:transparent;
    outline: none;
    cursor:pointer;
    opacity: .4;
    transition:0.3s;
}

section .caja_formulario 
.contenido_formulario 
button:hover{
    opacity:1;
    background-color:rgba(0,0,0,.6);
    box-shadow:inset 5px 5px 5px #5a189a,
    inset -5px -5px 5px #5a189a,
    5px 5px 5px #5a189a,
    5px 5px 5px #5a189a;
}


section .caja_formulario 
.contenido_formulario 
button span
{
    margin-left: 10px;
    font-size:1.5rem;
    color:white;
}


section .btn-modal
{
    position:relative;
left:420px;
height: 170px;
width:100px;
display: flex;
justify-content: center;
align-items: center;
}
section .btn-modal img
{
    position:absolute;
    font-size:15px;
    top:33%;
    z-index: 1;
    animation:parpadea 2s linear infinite;
    animation-delay:calc(0.5s*var(--i));
}

section .btn-modal img:nth-child(1){
    left:5px;
}
section .btn-modal img:nth-child(2){
    left:15px;
}


@keyframes parpadea
{
    0%{
transform: scale(1);
    }
    100%{
transform: scale(0);
    }
}


section .btn-modal button

{
    cursor:pointer;
    padding:10px;
    transform:rotate(-90deg);
    position: relative;
    left:30px;
    background-color: transparent;
    color:white;
    border:1px solid white;
    outline:none;
}

section .btn-modal button::before
{
    content: '';
    position: absolute;
    top:-45px;
    left:0;
    width:100%;
    background-color: gray;
    height: 45px;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border:1px solid white;
}

section .btn-modal button:hover
{
    background-color: rgb(0,0,0);
}



.cajaModal{
    min-height: 100%;
    min-width: 100%;
    position: fixed;
    top:0;
    left:100%;
    background-color: rgba(0,0,0,.8);
    transition: 0.4s;
}


.cajaModal span
{
    font-size:3em;
    color:white;
    position: absolute;
    right:50px;
    top:100px;
    cursor:pointer;
}

.cajaModal span:hover
{
    opacity:.4;
}


.cajaModal a
{
    text-decoration: none;
    display:inline-block;
    padding:30px;
    position:relative;
    border:2px solid white;
    border-radius:15px;
    color:white;
    outline:none;
}

.cajaModal a:hover
{
    transform:scale(1.2);
}



.cajaModal a:nth-of-type(1)
{
top:201px;
left:200px;
}

.cajaModal a:nth-of-type(2)
{
top:400px;
left:500px;
}


