*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    border:1px solid black;
    font-family: 'Press Start 2P', cursive;
}

section{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
}

section .caja_formulario
{
    position: relative;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    width:400px;
    height: 480px;
    border:1px solid black;
}

section .caja_formulario .contenido_formulario
{
position: relative;
    width: 100%;
}


section .caja_formulario .contenido_formulario h2{
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 40px;
    letter-spacing: 3px;
}

section .caja_formulario 
.contenido_formulario 
.cajaInput
{
    position: relative;
margin-bottom: 10px;
width: 100%;
}

section .caja_formulario 
.contenido_formulario 
.cajaInput input
{
    padding:  20px;
    font-size:14px;
    padding-left:50px;
    width: 100%;
}

section .caja_formulario 
.contenido_formulario 
.cajaInput img
{
position: absolute;
width:40px;
height: 40px;
left:5px;
top:10px;
}




section .caja_formulario 
.contenido_formulario 
.cajaInput p{
    font-size: 12px;
    padding:5px;
    font-weight: 600;
    
}



section .caja_formulario 
.contenido_formulario 
.cajaInput textarea
{
    margin-top:10px;
    border-radius:15px;
    padding:5px;
}


section .caja_formulario 
.contenido_formulario 
button
{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width:100%;
    padding:10px;
    border-radius:15px;
}

section .caja_formulario 
.contenido_formulario 
button span
{
    margin-left: 10px;
    font-size:1.5rem;
}


section .btn-modal
{
    position:absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top:45%;
    right: 0;
    width: 300px;
    height: 90px;
}

section .btn-modal span
{
    position: relative;
    bottom:25px;
}

section .btn-modal span:nth-child(1){
left:30px;

}
section .btn-modal span:nth-child(2){
left:45px;


}


section .btn-modal span::before{
    content:'\0227a';
    position:absolute;
    font-size: 35px;
    width: 30px;
    height: 30px;
    /* animation:parpadea 2s linear infinite;
    animation-delay: calc(0.5s*var(--i));*/
}

@keyframes parpadea
{
    0%{
transform: scale(1);
    }
    100%{
transform: scale(0);
    }
}



section .btn-modal button{
    padding:15px;
    cursor:pointer;
    width:90%;
}




.cajaModal{
    min-height: 100%;
    min-width: 100%;
    position: fixed;
    top:0;
    left:100%;
    background-color: rgba(0,0,0,.8);
    transition: 0.4s;
}


.cajaModal span
{
    font-size:3em;
    color:rgba(255,255,255, .4);
    position: absolute;
    right:50px;
    top:100px;
}

.cajaModal a
{
    text-decoration: none;
    padding:30px;
    position:relative;
}

.cajaModal a:nth-of-type(1)
{
top:201px;
left:200px;
}

.cajaModal a:nth-of-type(2)
{
top:400px;
left:500px;
}


