<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/login.css">
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/b716e1debc.js" crossorigin="anonymous"></script>
    <title>Document</title>
</head>
<body >
    <section>
        <div class="caja_formulario">
            <div class="contenido_formulario">
                <h2>Agrega tu platillo</h2>
                <form action="/login" method="POST" autocomplete="off">
                    <div class="cajaInput">
                        <input required  type="text"autofocus placeholder="Nombre de plato" name="nombre" >
                        <svg xmlns="http://www.w3.org/2000/svg" id="Layer_1" data-name="Layer 1" viewBox="0 0 512 512" width="512" height="512" fill="white">
                    <path d="M256,100.632c-85.67,0-155.368,69.7-155.368,155.368S170.33,411.368,256,411.368,411.368,341.67,411.368,256,341.67,100.632,256,100.632Zm0,298.736c-79.053,0-143.368-64.315-143.368-143.368S176.947,112.632,256,112.632,399.368,176.947,399.368,256,335.053,399.368,256,399.368Z"/>
                    <path d="M205.6,153.136a5.979,5.979,0,0,0,2.521-.559c2.524-1.17,5.122-2.26,7.721-3.239a6,6,0,0,0-4.228-11.231c-2.877,1.083-5.751,2.289-8.542,3.584a6,6,0,0,0,2.528,11.445Z"/><path d="M192.577,161.33a6,6,0,1,0-6.689-9.963A125.845,125.845,0,0,0,130.062,256a6,6,0,0,0,12,0A113.865,113.865,0,0,1,192.577,161.33Z"/>
                    <path d="M261.052,159.27a96.494,96.494,0,0,0-42.787,7.53,5.99,5.99,0,0,0-2.427,9.151l.023.031a6.022,6.022,0,0,0,7.16,1.841,85.162,85.162,0,1,1-26.468,17.71,5.964,5.964,0,0,0,.542-7.874l-.03-.04a5.984,5.984,0,0,0-8.939-.648,96.81,96.81,0,1,0,72.926-27.7Z"/><path d="M88,81.015a6,6,0,0,0-6,6v57.2c0,12.5-9,22.994-21,25.719V87.015a6,6,0,1,0-12,0v82.921c-12-2.725-20-13.218-20-25.719v-57.2a6,6,0,0,0-12,0v57.2A38.423,38.423,0,0,0,49,182.16V253H32.251a5.84,5.84,0,0,0-5.99,5.467L18.587,391.9a36.563,36.563,0,0,0,36.545,38.635,36.624,36.624,0,0,0,36.545-38.723L84,258.469A5.843,5.843,0,0,0,78.013,253H61V182.16c18-2.889,33-18.8,33-37.943v-57.2A6,6,0,0,0,88,81.015ZM79.7,392.68A23.946,23.946,0,0,1,73.022,410.8a24.6,24.6,0,0,1-35.78,0,23.951,23.951,0,0,1-6.675-18.115L35.617,305H74.646ZM72.348,265l1.609,28H36.307l1.609-28Z"/>
                    <path d="M495.385,280.741A16.641,16.641,0,0,0,483,264.729V115.854C483,91.931,461.668,72,436.661,72h-2A5.485,5.485,0,0,0,429,77.72V264.729c-8,1.813-12.656,8.294-12.656,16.012A16.474,16.474,0,0,0,426.6,296.06l-7.075,105.479a36.307,36.307,0,1,0,72.451,0L484.994,296.06A16.6,16.6,0,0,0,495.385,280.741ZM460,92.835a30.116,30.116,0,0,1,11,23.019V264H460Zm-19-8.873a34,34,0,0,1,7,1.722V264h-7Zm32.492,336.612a24.327,24.327,0,0,1-35.528,0,24.393,24.393,0,0,1-6.507-18.374l7-105.2H473l7,105.2A24.4,24.4,0,0,1,473.492,420.574ZM478.749,285H432.708a4.5,4.5,0,1,1,0-9h46.041a4.5,4.5,0,1,1,0,9Z"/></svg>   
            </div>
                <div class="cajaInput">
                        <p>Ingredientes </p>
                        <textarea   name="ingredientes" rows="4" cols="20"></textarea>
                    </div>
                    <div class="cajaInput">
                        <p>Bella descripción </p>
                        <textarea  name="descripcion" rows="2" cols="20"></textarea>
                    </div>
                    <button type="submit">GUARDAR <span><i class="fas fa-satellite-dish"></i></span></button>
                </form>
            </div>
        </div>
        
        <div class="btn-modal">
            <img src="../imagenes/arrow.svg" style="--i:1">
            <img src="../imagenes/arrow.svg" style="--i:2">
            <button id="activa-modal" >OPCIONES</button>
        </div>
        
                    <div class="cajaModal">
                        <span onclick="this.parentElement.style.left = '100%'">&times;</span>
                            <a href="/tarjeta">VER PLATILLOS</a>
                            <a href="/platos">ACTUALIZAR PLATILLO</a>        
                    </div>

    </section>
    

    <script src="../scripts/login.js"></script>
</body>
</html>