<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/login.css">
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/b716e1debc.js" crossorigin="anonymous"></script>
    <title>Document</title>
</head>
<body >
    <section>
        <div class="caja_formulario">
            <div class="contenido_formulario">
                <h2>Agrega tu platillo</h2>
                <form action="/login" method="POST">
                    <div class="cajaInput">
                        <input type="text" placeholder="Nombre de plato" name="nombre" >
                        <img src="../imagenes/plate.svg" alt="plato de comida">
                    </div>

                    <div class="cajaInput">
                        <p>Ingredientes </p>
                        <textarea name="ingredientes" rows="4" cols="20"></textarea>
                    </div>
                    <div class="cajaInput">
                        <p>Bella descripción </p>
                        <textarea name="descripcion" rows="2" cols="20"></textarea>
                    </div>
                    <button type="submit">GUARDAR <span><i class="fas fa-satellite-dish"></i></span></button>
                </form>
            </div>
        </div>
        
        <div class="btn-modal">
            <img src="../imagenes/arrow.svg" style="--i:1">
            <img src="../imagenes/arrow.svg" style="--i:2">
            <button id="activa-modal" >OPCIONES</button>
        </div>
        
                    <div class="cajaModal">
                        <span onclick="this.parentElement.style.left = '100%'">&times;</span>
                            <a href="/tarjeta">VER PLATILLOS</a>
                            <a href="/platos">ACTUALIZAR PLATILLO</a>        
                    </div>

    </section>
    

    <script src="../scripts/login.js"></script>
</body>
</html>