<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/login.css">
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/b716e1debc.js" crossorigin="anonymous"></script>
    <title>Document</title>
</head>
<body>
    <section>
        <div class="caja_formulario">
            <div class="contenido_formulario">
                <h2>Agrega tu platillo</h2>
                <form>
                    <div class="cajaInput">
                        <p>Ingredientes </p>
                        <textarea name="ingredientes" rows="4" cols="20"></textarea>
                    </div>
                    <div class="cajaInput">
                        <p>Bella descripción </p>
                        <textarea name="descripcion" rows="2" cols="20"></textarea>
                    </div>
                    <button>GUARDAR <span><i class="fas fa-satellite-dish"></i></span></button>
                </form>
            </div>
        </div>
    </section>
</body>
</html>